env
bookstore/userauth/__pycache__
bookstore/userauth/migrations
bookstore/userorder/__pycache__
bookstore/userorder/migrations
bookstore/bookstore/__pycache__
bookstore/booksauthor/migrations
bookstore/booksauthor/__pycache__
# bookstore/bookauthor/__pycache__